# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front-end/node_modules
/front-end/.pnp
.pnp.js

# testing
/front-end/coverage

# production
/front-end/build
